<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        
        <h2>E X P E R I E N C I A &nbsp; L A B O R A L</h2>
        <hr>
        <div class="fila">
            <div class="col izquierda">
                <br>
                <h3>E X P E R I E N C I A</h3>
                <br>
                <div class="item izq">
                    <h4>Corciem. (Corporación para la Ciencia, la Investigación, la
                        Innovación y el Emprendimiento (CORCIEM). )</h4>
                    <span class="casa">Cargo: Desarrollador de software.
                       </span>
                    <span class="fecha">2021 - 2023</span>
                    <p> Rol: Desarrollo y mantenimiento de prototipos y plataformas
                        educativass</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                
              
            
            </div>

            <div class="col derecha">
                <br>
                <h3>E X  P E R I E N C I A</h3>
              <br>
                <div class="item der">
                    <h4>EQUIPO DE DESARROLLO A LA MEDIDA</h4>
                    <span class="casa">Cargo: Desarrollador de frontend Freelancer.</span>
                    <span class="fecha">2022 - 2023</span> <br>
                    <p>Rol: Desarrollo y mantenimiento de aplicaciones web SPA.
                    </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
             
                  
           
                  
                


 
            </div>
        </div>
    </div>
</section>
