
<!-- SECCION CONTACTO -->
<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>CONTACTO</h2>
        <div class="fila">
            <!-- Formulario -->
            <div class="col">
                <input type="text" placeholder="Tú Nombre">
                <input type="text" placeholder="Número telefónico">
                <input type="text" placeholder="Dirección de correo">
                <input type="text" placeholder="Tema">
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                <button>
                    Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                    <span class="overlay"></span>
                </button>
            </div>
            <!-- Mapa -->
            <div class="col">
                <img src="../../src/assets/img/ubicacion.png" alt="">
                <div class="info">
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            Nicaragua 159, San Rafael Mza
                        </li>
                        <li>
                            <i class="fa-solid fa-mobile-screen"></i>
                            Llamanos: 2384 - 4343443 
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            Email: cw@example.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>