<!-- footer -->
<footer>
    <a href="#inicio" class="arriba" title="Ir a Inicio">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://www.facebook.com/jhonnierandres.teheranmorales" target="_blank" title="Ir a Facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="tel:+573245644212" title="Llamar a Jonnier"><i class="fa-solid fa-voicemail"></i></a>
        <a href="https://api.whatsapp.com/send?phone=3245644212" target="_blank" title="Contactar por WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/jonnier-andres-teran-morales-79765b243/" target="_blank" title="Ir a Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/JonnierTeran?tab=repositories"  target="_blank" title="Ir a Github"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>