<!-- SECCION SKILLS -->
<section class="skills" id="skills">
    <div class="contenido-seccion">
         <h2>H A B I L I D A D E S </h2><br>
        <div class="fila">
            <!-- Technical Skill -->
            <div class="col">
                <h3>Habilidades Tecnicas</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>TypeScript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Angular 2+</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>BASES DE DATOS RELACIONALES / SQL</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>GIT Y GITHUB</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Java - SpringBoot</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>78%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Professional Skills -->
            <div class="col">
                <h3>Habilidades Personales</h3>
                <div class="skill">
                    <span>Comunicación</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Trabajo en Equipo</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>88%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Creatividad</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Dedicación</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Responsabilidad</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>94%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Proactividad</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Autodidacta</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>