<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>C U R R I C U L U M</h2>
        <hr>
        <div class="fila">
            <div class="col izquierda"><br>
                <h3>Educación</h3>
                <br>
                <div class="item izq">
                    <h4>Pregrado: INGENIERIA DE SISTEMAS</h4>
                    <span class="casa">Universidad de Còrdoba</span>
                    <span class="fecha">2017 - 2022</span>
                    <p>Carrera profesional en Ingenieria de Sistemas. <br> Finalizada, Duracion 5 Años</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Diplomado en Fundamentos de programación</h4>
                    <span class="casa">UNIVERSIDAD NACIONAL DE COLOMBIA</span>
                    <span class="fecha">2022 - 2022</span>
                    <p>Diplomado en Fundamentos de programación Programa de MINTIC MisionTic
                        2022 <br>
                        Ciclo:  1 | FINALIZADO <br>
                    Duracion: 2 meses.</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
              
                <div class="item izq">
                    <h4>Master en programación</h4>
                    <span class="casa">U D E M Y</span>
                    <span class="fecha">2021 - 2022</span>
                    <p>Master en programación JavaScript, Angular Node- <br>
                        Duracion: 4 meses.| FINALIZADO</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>

                    <div class="item izq">
                        <h4>CERTIFICACION: SCRUM FOUNDATION PROFESSIONAL CERTIFICATE SFPC </h4>
                        <span class="casa">POR: CERTIPROF professional knowledge</span>
                        <span class="fecha">2023 - 2023</span>
                        <p> Código de verificación de certificación: 85031774<br>
                            Duracion: 1 meses.| FINALIZADO</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
            </div>

            <div class="col derecha">
                <br>
                <h3>Educación</h3> <br>
                <div class="item der">
                    <h4>Diplomado en Python aplicado a la Ingeniería</h4>
                    <span class="casa">UNIVERSIDAD PONTIFICIA BOLIVARIANA</span>
                    <span class="fecha">2022 - 2022</span>
                    <p>Diplomado en pyhton Aplicado a la Ingenieria, Finalizado.
                        Duracion: 2 meses.
                    </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Diplomado en programación Java y MySQL</h4>
                    <span class="casa">UNIVERSIDAD NACIONAL DE COLOMBIA</span>
                    <span class="fecha">2022 - 2022</span>
                    <p>Diplomado en programación Java y MySQL - Universidad Nacional 
                        De Colombia Programa Mintic Misiontic 2022<br>
                        Ciclo:  2 | FINALIZADO <br>
                    Duracion: 2 meses.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                  
                <div class="item der">
                    <h4>ELECTRONICA DIGITAL BASICA</h4>
                    <span class="casa">SERVICIO NACIONAL DE APRENDIZAJE SENA</span>
                    <span class="fecha">2021 - 2022</span>
                    <p> Curso de profundizacion en ELECTRONICA DIGITAL BASICA ofertado por el servicio nacional de aprendizaje Sena<br>
                        Duracion: 1 meses.| FINALIZADO</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>

                  
                


 
            </div>
        </div>
    </div>
</section>
