<!-- MENU ENCABEZADO -->
<div class="contenedor-header">
    <header>
        <div class="logo">
            <a href="#">ING. JONNIER</a> 
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#inicio"  onclick="seleccionar()" title="Ir a Inicio">INICIO</a></li>
                <li><a href="#sobremi" onclick="seleccionar()" title="Ir a Resumen personal">RESUMEN</a></li>
                <li><a href="#skills" onclick="seleccionar()" title="Ir a Habilidades">HABILIDADES</a></li>
                <li><a href="#curriculum" onclick="seleccionar()" title="Ir a Curriculum">CURRICULUM</a></li>
                <li><a href="#experiencia" onclick="seleccionar()" title="Ir a Experiencia Laboral">EXPERIENCIA LABORAL</a></li>
              <!--  <li><a href="#portfolio" onclick="seleccionar()" title="Ir a Portfolio">PORTFOLIO</a></li>
                <li><a href="#contacto" onclick="seleccionar()" title="Ir a Contactos">CONTACTO</a></li> -->
            </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</div>
<br>